@import "../scss/generals.scss";
@import "../scss/vars.scss";

.border-rounded {
  border-style: solid;
  border: 1px solid $back_Dark;
  border-radius: 5px;
  margin: 5px;
  padding: 5px;
}

.border-unrounded {
  border-style: solid;
  border: 1px solid $back_Dark;
  border-radius: 5px;
  margin: 5px;
  padding: 5px;
}
