@import "../scss/vars.scss";
@import "../scss/generals.scss";

.service-card {
    border-style: solid;
    border: 1px solid $back_Dark;
    border-radius: 5px;
    margin:5px;
    padding: 5px;
    background-color: $back_White;
}
  
  
.service-card-body {
    margin:0;
    padding: 0;
}

.gray-text {
    color: gray;
}
.small-text{
    font-size: small;
}

