.Nav-Style {
  background-color: #512DA8;
  color: #9575CD;
}

#responsive-navbar-nav {
  font-size: 20px;
  justify-content: center;
  width: 100%;
}

.nav-link {
  margin: 10px;
}

@media (max-width: 992px) {
  .Nav-Style {
    flex-direction: row-reverse;
  }
  .Logo-Brand, .navbar-toggler {
    margin: 20px;
  }
}
