.service-card {
  border-style: solid;
  border: 1px solid #512DA8;
  border-radius: 5px;
  margin: 5px;
  padding: 5px;
  background-color: #D1C4E9;
}

.service-card-body {
  margin: 0;
  padding: 0;
}

.gray-text {
  color: gray;
}

.small-text {
  font-size: small;
}
